.navbar {
  margin-bottom: 0;
}

.application-logo {
  width: 400px;
  height: auto;
}

.logo-section {
  width: 70%;
}

.table {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

#uc-logo {
  float: left;
}

#commonapp-logo {
  float: right;
}

.table-hide {
  margin-top: 5px;
  float: right;
}

h4 {
  float: left;
}

td, th {
  width: 45%;
}

body {
  padding-bottom: 50px;
}
