.navbar {
  margin-bottom:;
}

.logo-section {
  width: 100%;
}

img {
	width: 100%;
	height:auto;
}

.table {
  width: 75%;
  border: 15px;
  margin: auto;
  background-color: white;
  border-color: white;
}

.carousel-caption {
	background: rgba(0, 0, 0, .8)
}

td {
  width: 50%;
}

th {
	align: "center";
}

body {
  padding-bottom: 30px;

}
